.button {
    background: #FFFFFF;
    border: 1px solid #121212;
    border-radius: 8px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;

    padding: 16px 0;
    width: 9rem;
    height: 56px;
    cursor: pointer;
}

.button:disabled {
    opacity: 0.6;
    pointer-events: none;
}