.tumblr {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 38px 48px;

    width: 400px;

    background: #FFFFFF;
    border-radius: 16px;
}

.tumblr>img {
    margin-left: auto;
}